.venv/
__pycache__/
.mypy_cache/
.pytest_cache/
.vscode
*.py[cod]

uploads/
celerybeat-schedule*

tests/
pytest.ini
.test.env
.env*

frontend/

.git/
.gitignore
.dockerignore
Dockerfile*
docker-compose*.yaml
README.md