# database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=mydockerpostgredb
DB_USER=postgres
DB_PASS=_your_db_password_

MODE=DEV

# jwt
JWT_SECRET_KEY=_your_secret_key_
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
JWT_VERIFY_EMAIL_TOKEN_EXPIRE_HOURS = 24
JWT_RESET_PASSWORD_TOKEN_EXPIRE_MINUTES = 15

# email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_ADDRESS=_your_email_@gmail.com
SMTP_PASSWORD=_your_email_password


# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB_NUMBER=0


# celery
CELERY_TASK_ALWAYS_EAGER=False