.env
.test.env

__pycache__/

.vscode/

celerybeat-schedule

uploads/*
!uploads/.gitkeep

tests/media/*
!tests/media/.gitkeep

.gitignore

.venv

.mypy_cache

.pytest_cache

.vscode
logs.log
tests/test_logs.log
